<div class="row">
    <div class="container-fluid full-width bg-index">
        <div class="text-center"style="margin:200px";>
            <div>
                <img src="http://i.imgur.com/OHed9x1.png" style="width:40%;">
            </div>
        </div>
    </div>
    <div class="container-fluid full-width bg-black">
        <div class="text-center">
            <p class="body-text-2"> 爱未来，带你感受科技的力量，让未来提前到来！</p>
            <br>
            <p class="body-text-3">虚拟现实 | 人工智能 | 物联生活 | 轻松学习</p>
        </div>
        <div class="index-button">
          <%= link_to("还不快来",products_path, class:"btn btn-danger btn-lg") %>
        </div>
    </div>
    <div class="container-fluid full-width text-center bg-milk">
      <p class="body-text-4">我们的宗旨</p>
      <div class="row">
        <div class="col-sm-4">
          <img src="http://i.imgur.com/FRwO7OL.png" alt="Image" width="60%">
          <p class="body-text-5">每款商品都是进过多层严选</p>
        </div>
        <div class="col-sm-4">
          <img src="http://i.imgur.com/tzk7A1m.png" alt="Image" width="60%;">
          <p class="body-text-5">产品背后大公司实力保证</p>
        </div>
        <div class="col-sm-4">
          <img src="http://i.imgur.com/Ioeia1U.png" alt="Image" width="60%">
          <p class="body-text-5">一站式集齐所有未来科技</p>
        </div>
      </div>
    </div>
</div>
