<div class="row">
    <div class="container-fluid full-width">
        <div class="text-center">
            <div>
                <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fctjaoskhjj31jk0vutfx.jpg" style="width:100%;">
            </div>
        </div>
    </div>
    <div class="container-fluid full-width bg-black">
        <div class="text-center">
            <p class="body-text-3"> 爱未来，带你感受科技的力量，让未来提前到来！</p>
            <br>
            <p class="body-text-2">虚拟现实 | 人工智能 | 物联生活 | 轻松学习</p>
        </div>
        <div class="index-button">
          <%= link_to("还不快来",products_path, class:"btn btn-danger btn-lg") %>
        </div>
    </div>
</div>
