<div class="row">
    <div class="container-fluid full-width">
        <div class="text-center";>
            <div>
                <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fcwtedw8xcj31kw0w0k5u.jpg" style="width:100%;">
            </div>
        </div>
    </div>
    <div class="container-fluid full-width">
        <div class="text-center";>
            <div>
                <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcwtenexhdj31kw0w0h3x.jpg" style="width:100%;">
            </div>
        </div>
    </div>
    <div class="container-fluid full-width">
        <div class="text-center";>
            <div>
                <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fcwthddzi3j31kw0w0qdb.jpg" style="width:100%;">
            </div>
        </div>
    </div>
    <div class="container-fluid full-width bg-milk-1">
        <div class="text-center">
            <p class="body-text-2"> 发现世界,探索未来!</p>
            <br>
            <p class="body-text-3">虚拟现实 | 人工智能 | 物联生活 | 轻松学习</p>
        </div>
        <div class="index-button aglin-center">
          <%= link_to("还不快来!",products_path, class:"btn btn-danger btn-lg") %>
        </div>
    </div>
    <!-- <div class="container-fluid full-width text-center bg-milk-2">
      <p class="body-text-4">我们的宗旨</p>
      <div class="row">
        <div class="col-sm-4">
          <img src="http://i.imgur.com/FRwO7OL.png" alt="Image" width="60%">
          <p class="body-text-5">每款商品都经过多层严选</p>
        </div>
        <div class="col-sm-4">
          <img src="http://i.imgur.com/tzk7A1m.png" alt="Image" width="60%;">
          <p class="body-text-5">产品背后大公司实力保证</p>
        </div>
        <div class="col-sm-4">
          <img src="http://i.imgur.com/Ioeia1U.png" alt="Image" width="60%">
          <p class="body-text-5">一站式集齐所有未来科技</p>
        </div>
      </div>
    </div> -->
</div>
