/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";



.bg-index{  //浅灰色背景
  background-color:  #F2F2F2;
}

.full-width{  //container-fluid 全屏专用
  margin-left: -15px;
  margin-right: -15px;
}

 .navbar {
     padding-top: 5px;
     padding-bottom: 5px;
     border: 0;
     border-radius: 0;
     margin-bottom: 0;
     font-size: 16px;
     letter-spacing: 3px;
     box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);
     box-sizing: content-box;
 }

.navbar-brand {
    display: inline-block;	//图片和链接文字显示在同一行
    margin-right: -10px; //图片和链接文字拉开一点距离
    margin-top: -5px;
}


.bg-milk-1{
  padding-top: 200px;
  padding-bottom: 200px;
  background:#EDEFF0;
}
.bg-white {  //商品列表白色背景，带阴影
    background: white;
    color: black;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);
    box-sizing: content-box;
    margin-top:10px;

}
.title-text-1 {  //商品标题用字体样式
    color: #444444;
    font-family: 'Roboto Slab',Arial,sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 38px;
    margin-bottom: 20px;
}
.body-text-1 {  //商品描述用字体样式
    color: #848484;
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.body-text-2 {  //
    color: black;
    font-size: 60px;
    font-weight: 200;
    line-height: 65px;
}
.body-text-3 {  //
    color: black;
    font-size: 35px;
    font-weight: 200;
    line-height: 40px;
}
.body-text-3-1{
  color: black;
  font-size: 25px;
  font-weight: 200;
  line-height: 30px;
}
.body-text-4 {  //
    color: #2C2C2C;
    font-size: 55px;
    font-weight: 200;
    line-height: 60px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.body-text-5 {  //
    color: #2C2C2C;
    font-size: 25px;
    font-weight: 200;
    line-height: 50px;
    margin-bottom: 80px;

}

.bg-milk-2{
  background-color: #EDEFF0;
  padding-bottom: 75px;

}

.btn-lg {
  text-align: center;;
  margin-top: 80px;
  border-radius: 50px;//btn圆角
  width: 200px;//这里用指定宽度把btn拉得更长
  padding: 8px 16px;//通过padding来决定btn的大小
  font-size: 30px;//btn文字大小
  letter-spacing: 3px;//调整文字间距

}
.btn-danger {
    color: #fff;//字体颜色
    background-color: #FF6600;//背景颜色
    border-color:  #FF6600;//边框颜色
}

.btn-danger:hover {
    background-color: #E65100;//鼠标放置在btn上的背景颜色
    border-color: white;//鼠标放置在btn上的边框颜色
}


.price-text{  //单价用字体样式
  color: black;
  font-family: Roboto,Arial,sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
.product-list{  //产品列表
  margin-left: -5px;
  margin-right:-5px;
  padding-top:10px;
  padding-left:100px;
  padding-right:100px;
}
.product-list-1{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product-price{
  color: black;
  font-size:18px;
  font-weight: 200;

}

 .no-border{        //去掉图片的边框
  border: 0px;      //边框=0
}
.fix-100{
  margin-top: 40px;
  width: 100%;
}

.cart-style{
  background: white;
  color: black;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);
  box-sizing: content-box;
  margin-top:10px;
  margin-bottom: 10px;

}

.cart-product-title{
  color: black;
  padding-top: 40px;
  font-size:20px;
  font-weight: 400;
  text-decoration: none;
}

.cart-product-quantity{
  padding-top: 44px;
  color: black;
  font-size:14px;
  font-weight: 400;
}

.cart-product-delete{
  padding-top: 40px;
  color: black;
  font-size:20px;
  font-weight: 400;
}

.clean-cart{
  margin-top: 20px;
}
