/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
/*颜色一览表*/
/*爱马仕橙色：#FF6600*/


/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 40px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;     /*左右 auto 可以居中，漂亮*/
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;

  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}




/*公用样式*/
.full-width{  /*container-fluid 全屏专用*/
  margin-left: -30px;
  margin-right: -30px;
}
.ml40 {
    margin-left: 40px;
}

.mt10 {
    margin-top: 10px;
}

.fl {
    float: left;
    display: inline;
}

.w300 {
    width: 300px;
}
.pr {
    position: relative;
}

.clearfix {
    display: block;
}

.col-orange {
    color: #FF6600;
}

.pa {
    position: absolute;
}

.tc {
    text-align: center;
}

/*导航栏样式*/
.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;    /*无边框*/
    border-radius: 0;  /*无圆角*/
    margin-bottom: 0;
    font-size: 18px;  /*字体大小*/
    letter-spacing: 3px;  /*字符间距*/
    font-weight: 400;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);  /*阴影效果*/
    box-sizing: content-box;

}

.navbar-brand {
   display: inline-block;	/*图片和链接文字显示在同一行*/
   margin-top: -5px; /*调整图标位置*/
}

.search {
    width: 300px;
}
.search-input {
    height: 32px;
    line-height: 32;
    color: #666;
    padding: 2px 20px;
    margin-bottom: 4px;
    margin-left: -20px;
    border-width: 2px;
    border-color: #FF6600;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "microsoft yahei";
    border-radius: 20px;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search-button {
    width: 50px;
    height: 32px;
    border: none;
    line-height: 1;
    color: #FF6600;
    background: none;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
    top: 0;
    right: 0px;
}




/*脚注样式*/
.navbar-fixed-bottom{
position:fixed;
bottom:0;
color: white;   /*字体颜色*/
font-size: 14px;  /*字体大小*/
letter-spacing: 1px;  /*字符间距*/
line-height: 20px;  /*行高*/
font-weight: 100;  /*字体粗细*/
padding-top: 10px;
background-color: #5A5A5A;
margin-top: 50px;
}
a.footer{                         /*超链接颜色：爱马仕橙色，无下划线*/
     color: #FF6600;
     text-decoration: none;
 }
a.footer:hover {                 /*鼠标指向超链接后的颜色：黑色，无下划线*/
   color:black;
    text-decoration: none;
 }


/*首页样式*/
.index-text-1 {  /*爱未来*/
    color: black;
    font-size: 60px;
    font-weight: 200;
    line-height: 65px;
    padding-left: 15px;
}
.index-text-2 {  /*网站简介*/
    color: black;
    font-size: 35px;
    font-weight: 200;
    line-height: 40px;
    padding-left: 15px;
}
.index-text-3 {
    color: black;
    font-size: 25px;
    font-weight: 200;
    line-height: 30px;
    padding-left: 15px;
}
.index-bg-lightgrey {
  padding-top: 200px;
  padding-bottom: 200px;
  background:#EDEFF0;
}

a.index-button {
    border-radius: 25px;        /*边框编程圆角*/
    background: transparent;    /*背景为透明*/
    display: inline-block;
    border: 2px solid #FF5722;  /*边框的粗细和色彩*/
    color: #FF5722;             /*字体颜色*/
    line-height: 0.6;           /*压缩行高，让按钮看起来比较细长*/
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;  /*针对英文的设置，所有字母大写*/
    letter-spacing: 1px;
    padding: 14px 37px 13px;
    margin-right: 10px;
    margin-top: 35px;
}
a.index-button:hover {
    color: white;
    text-decoration: none;
    background: #FF5722;
}



/*产品列表页样式*/



/*产品详情页样式*/



/*购物车样式*/

.bg-index{  /*浅灰色背景*/
  background-color:  #F2F2F2;
}












.bg-white {  //商品列表白色背景，带阴影
    background: white;
    color: black;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);
    box-sizing: content-box;
    margin-top:10px;

}
.title-text-1 {  //商品标题用字体样式
    color: #444444;
    font-family: 'Roboto Slab',Arial,sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 38px;
    margin-bottom: 20px;
}
.body-text-1 {  //商品描述用字体样式
    color: #848484;
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}



.body-text-4 {  //
    color: #2C2C2C;
    font-size: 55px;
    font-weight: 200;
    line-height: 60px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.body-text-5 {  //
    color: #2C2C2C;
    font-size: 25px;
    font-weight: 200;
    line-height: 50px;
    margin-bottom: 80px;

}

.bg-milk-2{
  background-color: #EDEFF0;
  padding-bottom: 75px;

}

.btn-lg {
  text-align: center;;
  margin-top: 80px;
  border-radius: 50px;//btn圆角
  width: 200px;//这里用指定宽度把btn拉得更长
  padding: 8px 16px;//通过padding来决定btn的大小
  font-size: 30px;//btn文字大小
  letter-spacing: 3px;//调整文字间距

}
.btn-danger {
    color: #fff;//字体颜色
    background-color: #FF6600;//背景颜色
    border-color:  #FF6600;//边框颜色
}

.btn-danger:hover {
    background-color: #E65100;//鼠标放置在btn上的背景颜色
    border-color: white;//鼠标放置在btn上的边框颜色
}


.price-text{  //单价用字体样式
  color: black;
  font-family: Roboto,Arial,sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
.product-list{  //产品列表
  margin-left: -5px;
  margin-right:-5px;
  padding-top:10px;
  padding-left:100px;
  padding-right:100px;
}
.product-list-1{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product-price{
  color: black;
  font-size:18px;
  font-weight: 200;

}

 .no-border{        //去掉图片的边框
  border: 0px;      //边框=0
}
.fix-100{
  margin-top: 40px;
  width: 100%;
}

.cart-style{
  background: white;
  color: black;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);
  box-sizing: content-box;
  margin-top:10px;
  margin-bottom: 10px;

}

.cart-product-title{
  color: black;
  padding-top: 40px;
  font-size:20px;
  font-weight: 400;
  text-decoration: none;
}

.cart-product-quantity{
  padding-top: 44px;
  color: black;
  font-size:14px;
  font-weight: 400;
}

.cart-product-delete{
  padding-top: 40px;
  color: black;
  font-size:20px;
  font-weight: 400;
}

.clean-cart{
  margin-top: 20px;
}
