<footer class="container-fluid bg-footer-grey" >
  <p class="text-center"> Copyright ©2017 iFuture
    <br> Design by <a href="http://michelle-blog.logdown.com">Michelle</a> and <a href="http://hukui-blog.logdown.com">Hukui</a>
  </p>
</footer>
