<footer class="container-fluid bg-footer-grey" >
  <p class="text-center">
    联系我们 | 招商合作 | 错误反馈 | 加入我们
    <br>
    Copyright ©2017 iFuture Design by
    <a class="footer" href="http://michelle-blog.logdown.com">Michelle</a>
    and 
    <a class="footer" href="http://hukui-blog.logdown.com">Hukui</a>
  </p>
</footer>
